@model School

@{
    ViewData["Title"] = "Escuela";
    Layout = "_Layout";
}

<h1>Escuela</h1>
<h2>Nombre: @Model.Name </h2>
<p>Año: @Model.Year</p>
sdasdas


dadasdasd


asdasd


